.creator
    div(class="modal fade" id="creator-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header" id="creator-modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title" id="creator-modal-title") jjj
                div(class="modal-body" id="creator-modal-body")
                div(class="modal-footer" id="creator-modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
                    button(type="submit" class="btn btn-primary" id="creator-modal-button-submit")
