doctype
html
    head
        title='CollaboRead'
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/navbar.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        link(rel='stylesheet', href='/css/selector.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/js/aws-sdk.min.js')
        script(src='/js/apiClient.js')
        script(src='/js/frontend.js')
        script(src='/js/sideBar.js')
        script(src='/js/selector.js')
        script(src='/js/creator.js')
    body(onload="init()")
        div(class="container-fluid")
            div(class="row")
                div(class="col-sm-3 col-md-2 sidebar")
                    include sidebar
                div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
                    include navbar
                    include creator
                    block selector
