.navbar
    nav(class='navbar navbar-fixed-top')
        div(class='container-fluid')
            div(id="navbar" class="navbar-collapse collapse")
                div(class="navbar-header")
                    ul(class="topnav nav navbar-nav navbar-right")
                        li
                            a(href="#" class="navbar-button" id="addButton")
                                span(class="glyphicon glyphicon-plus" aria-hidden="true")
                                |  Add Case
                                // Thanks glyphicons http://glyphicons.com/

                ul(class="topnav nav navbar-nav navbar-right")
                    li
                        a(href="#" class="navbar-button") Help
                    li
                        a(href="#" class="navbar-button") lecturer@example.com
