.navbar
    nav(class='navbar navbar-fixed-top')
        div(class='container-fluid')
            div(id="navbar" class="navbar-collapse collapse")
                ul(class="topnav nav navbar-nav navbar-right")
                    li
                        a(href="#" class="navbar-button") Help
                    li
                        a(href="#" class="navbar-button") lecturer@example.com
