extend layout
block selector
    h4(id="selectorTitle") All Lectures
    div(id="patientHistory")
        p 
            | Patient History
            a(href="#" id="editPatientInfo")
                | 
                span(class="glyphicon glyphicon-pencil" aria-hidden="true")
        p(id="patientHistoryDescription")
    hr
    div(class="row" id="itemGrid")
