extend layout
block selector
    h4(id="selectorTitle") All Lectures
    div(id="patientHistory")
        p Patient History
        p(id="patientHistoryDescription")
    hr
    div(class="row" id="itemGrid")
