.sidebar
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-3 col-md-2 sidebar")
                ul(class="nav nav-sidebar sidebar-header")
                    li
                        h2(class="sidebar-header") CollaboRead
                    //- li
                    //-     form(class="navbar-form navbar-right")
                    //-         input(type="text" class="form-control" placeholder="Search...")

                ul(class="nav nav-sidebar" id="sidebar-all-cases")
                    li(class="nav-sidebar-active" id="sidebar-all-cases-li")
                        a(href="#" id="sidebar-all-cases-button") All Cases
                        
                ul(class="nav nav-sidebar sidebar-list" id="sidebar-new-lecture")
                    li
                        h4(id="sidebar-lecture-header") LECTURES
                    li
                        a(href="#" id="sidebar-new-lecture-button") 
                            span(class="glyphicon glyphicon-plus" aria-hidden="true") 
                            | &nbsp;New Lecture...

                ul(class="nav nav-sidebar sidebar-list" id="sidebar-lecture-list")
