.sidebar
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-3 col-md-2 sidebar")
                ul(class="nav nav-sidebar sidebar-header")
                    li
                        h2(class="sidebar-header") CollaboRead
                    li
                        form(class="navbar-form navbar-right")
                            input(type="text" class="form-control" placeholder="Search...")

                ul(class="nav nav-sidebar" id="sidebar-all-cases")
                    li
                        a(href="#") All Cases

                ul(class="nav nav-sidebar" id="sidebar-lecture-list")
