.sidebar
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-3 col-md-2 sidebar")
                ul(class="nav nav-sidebar sidebar-header")
                    li
                        h3(class="sidebar-header") CollaboRead
                    li
                        form(class="navbar-form navbar-right")
                            input(type="text" class="form-control" placeholder="Search...")

                ul(class="nav nav-sidebar")
                    li
                        a(href="#") All Lectures

                ul(class="nav nav-sidebar")
                    li
                        a(href="#") Lecture 1
                    li
                        a(href="#") Lecture 2
                    li
                        a(href="#") Lecture 3
                    li
                        a(href="#") Lecture 4
