#navbar {
    margin-left: 200px;
}

.navbar {
    z-index: 0;
    color: #FFFFFF;
    background-color: #6EBB99;
    border-bottom-color: #6EBB99;
    width: auto;
}

.navbar-button {
    color: #FFFFFF;
}

ul.topnav a:hover {
    background-color: #74c99f !important;
    color: #FFFFFF;
}
