html, body, .container-fluid, .row {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 270px;
    display: block;
    color: #FFFFFF;
    background-color: #3C4A5F;
}

.sidebar-header {
    text-align: center;
}

h2.sidebar-header {
    font-weight: lighter;
}

.nav-sidebar {
    width: 270px;
    margin-left: -15px;
}

#sidebar-all-cases {
    background-color: #313C4F;
    margin-top: 46px;
}

#sidebar-lecture-header {
    color: #4B5C78;
    margin-left: 19px;
}

.sidebar-list {
    background-color: #313C4F;
    margin-top: 50px;
}

#sidebar-all-cases-button {
    color: #FFFFFF;
}

#sidebar-lecture-list {
    margin-top: 0px;
    min-height: 600px;
}

#sidebar-new-lecture-button {
    color: #CCCCCC;
    font-style: italic;
}

.lecture-selector {
    color: #FFFFFF;
}

.nav>li>a:visited {
    background-color: #313C4F;
    color: #FFFFFF;
}

.nav>li>a:hover {
    background-color: #3A435B;
    color: #FFFFFF;
}

li.lecture-selector:not(.nav-sidebar-active), #sidebar-all-cases-li:not(.nav-sidebar-active), #sidebar-new-lecture-button {
    border-left-color: #313C4F;
    border-left-width: 5px;
    border-left-style: solid;
}

.nav-sidebar-active {
    border-left-color: #6EBB99;
    border-left-width: 5px;
    border-left-style: solid;
}

/*.nav-sidebar>li {
    background-color: green;
}*/
/*
#sidebar-new-lecture {
    background-color: #FF0000;
}

#sidebar-lecture-list {
    background-color: #FF0000;
}*/


/*.nav-sidebar a {
    background-color: #313C4F;
    width: 270px;
    margin-left: -15px;
}

.lecture-selector {
    color: #FFFFFF;
}

#sidebar-new-lecture {
    background-color: #313C4F;
    width: 270px;
}

#sidebar-new-lecture li a {
    color: #CCCCCC;
    font-style: italic;
}*/
